---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import HomeHero from "@/components/home/HomeHero.astro";
import ImageCarousel from "@/components/home/ImageCarousel.astro";
import Highlights from "@/components/home/Highlights.astro";
import Section from "@/components/ui/section/section.astro";
import BlogPosts from "@/components/home/BlogPosts.astro";

const page = (await getCollection("indexPage"))[0]?.data;
if (!page) throw new Error("Index page content not found");

const blogs = (await getCollection("blog"))
  .map((post) => ({
    href: `/blog/p/${post.id}`,
    title: post.data.title,
    description: post.data.description,
    image: post.data.image,
    date: post.data.publishDate,
    category: post.data.category,
  }))
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
  .slice(0, 5);
---

<BaseLayout
  title={page.title}
  description={page.description}
  ogImage={page.ogImage}
>
  <div class="mt-4 space-y-12">
    <Section><HomeHero hero={page.hero} /></Section>
    <Section><ImageCarousel images={page.carouselImages} /></Section>
    <Section><Highlights highlights={page.highlights} /></Section>
    <Section><BlogPosts posts={blogs} /></Section>
  </div>
</BaseLayout>
